<div style="display: flex; justify-content: center">
  <img src="../assets/title.png" alt="Living Together by Igor and the logo by ido" width="20%">
</div>

<div>

  <mat-tab-group mat-align-tabs="center">

    <mat-tab *ngFor="let database of getDatabases()"  [label]="database.name">

      <mat-tab-group mat-align-tabs="center">

        <mat-tab *ngFor="let table of database.tables"  [label]="table.role">

          <app-table [table]="table" [passages]="this.getPassages(table.name) | async"></app-table>

        </mat-tab>

      </mat-tab-group>

    </mat-tab>

  </mat-tab-group>

</div>
