<div style="display: flex; justify-content: center">
  <h1>My Nigga</h1>
</div>

<div>

  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="מעברים החדשה">

      <mat-tab-group mat-align-tabs="center">

        <mat-tab label="תקשורת">

          <app-table></app-table>

        </mat-tab>

        <mat-tab label="לוגיקה">

          <app-table></app-table>

        </mat-tab>

      </mat-tab-group>

    </mat-tab>

    <mat-tab label="מעברים הישנה">

      <mat-tab-group mat-align-tabs="center">

        <mat-tab label="תקשורת">

          <app-table></app-table>

        </mat-tab>

        <mat-tab label="לוגיקה">

          <app-table></app-table>

        </mat-tab>

      </mat-tab-group>

    </mat-tab>

  </mat-tab-group>

</div>
